<div fxLayout="row">
  <mat-grid-list cols="2" rowHeight="8:1" fxFlex>
    <mat-grid-tile>
      <h2 fxFlex fxLayoutAlign="center">
        Empleo por tecnologia ({{ language_amount }})
      </h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2 fxFlex fxLayoutAlign="center">
        Empleo por framework ({{ framework_amount }})
      </h2>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="3">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="languageData"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        style="fill: rgb(185, 181, 181)"
      >
      </ngx-charts-pie-chart
    ></mat-grid-tile>
    <mat-grid-tile [rowspan]="3">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="frameworkData"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        style="fill: rgb(185, 181, 181)"
      >
      </ngx-charts-pie-chart
    ></mat-grid-tile>
  </mat-grid-list>
</div>
